.custom-button{
  position: relative;
  background: transparent;
  color:#f43b46;
  font-size: 1.0em;
  font-weight: 600;
  padding: 10px 25px;
  transition: 0.5s;
  border:1px solid #f43b46;
  border-radius: 100px;
}
.custom-button:hover{
  letter-spacing: 0.10em;
  color: #f43b46;
  background:#f43b46;
  color:#e8e8e6;
}

.custom-button2{
  font-size: 1.0em;
  font-weight: 600;
  padding: 10px 25px;
  transition: 0.5s;
  border:1px solid #f43b46;
  border-radius: 100px;
  color: #f43b46;
  background:#f43b46;
  color:#e8e8e6;
}